:root {

    /* Colors  */

    --black-color: #202020;
    --yellow-color: #FFC01E;
    --green-color: #2CBB5D;
    --white-color: #EFF2F6;

    /* Fonts */
    --poppins: 'Poppins', sans-serif;
    --font-size: 18px;

}

.border {
    border: 1px solid rgb(255, 255, 255);
}


html,
p {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: fit-content;

}


.link {

    text-decoration: underline;
    color: rgb(133, 133, 201);
}

.primaryBtn {
    background: var(--yellow-color);
    color: var(--white-color);
    padding: 10px 0;
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: none;
    margin-top: 16px;
    cursor: pointer;
}

.subtitle {
    font-size: 14px;
}


.container {

    width: max-content;
    height: fit-content;
    padding: 6px 24px;
    border-radius: 8px;

    font-family: var(--poppins);
    font-size: var(--font-size);
    font-weight: 500;

    background: var(--black-color);
    color: var(--white-color);

}

.container>p {

    text-align: center;
    width: 100%;

}

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    font-size: 20px;

}

.header:first-child {

    margin-right: 20px;
}

.header img {

    cursor: pointer;
    outline: none;

}

.leetcode-profile,
.stats {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
    width: 100%;    
    margin: 24px 0;

    font-size: 20px;

}

.stats{
    gap: 40px;
}

.leetcode-profile img {

    height: 80px;
    width: 80px;

    border-radius: 100%;

}

#username {

    color: var(--yellow-color);

}

.progress-bars {

    display: flex;
    flex-direction: column;
    gap: 4px;

}

.progress-bars label {

    font-size: 12px;

}


.progress-bars progress {

    color: var(--yellow-color);
    height: 10px;

}


.circular-progress-bar {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    border-radius: 50%;

    transform: translateY(10px);

}


.todayStatus {

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;

}

.status {

    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 8px 0px;
    border-radius: 4px;

}

.Solved {

    color: var(--green-color);
    background: rgba(44, 187, 93, 0.22);

}

.Unsolved {

    color: var(--white-color);
    background: rgba(187, 44, 44, 0.49);;

}

.reminder-info {

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    margin: 24px 0;

}

.input {

    width: 100%;
    background: rgba(239, 242, 246, 0.1);
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 8px 0 8px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #B99332;

}

.input::placeholder {

    color: #B99332;

}

/* input[type="time"]:before {
    content: 'Set Time for Reminders';
    position: absolute;
    background: #4F4F50;
}

input[type="time"]:focus:before {
    width: 0;
    content: '';
} */

/* Circular Progress Bar */

.wrapper-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.progress-bar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
}

.progress-bar:before {
    content: "";
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 0;
}

/*===== The CSS =====*/
.progress {
    height: 120%;
    z-index: 1;
}

.progress .track,
.progress .fill {
    fill: rgba(0, 0, 0, 0);
    stroke-width: 3;
    transform: rotate(90deg)translate(0px, -80px);
}

.progress .track {
    stroke: #20313e;
}

.progress .fill {
    stroke: var(--yellow-color);
    stroke-dasharray: 219.99078369140625;
    stroke-dashoffset: -219.99078369140625;
    transition: stroke-dashoffset 1s;
}

.progress .value {

    fill: var(--yellow-color);
    text-anchor: middle;
    transform: translateY(2.5%);
    font-size: 1rem;

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}